/* Basic styling */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
nav {
  background: #222;
  opacity: .90;
  position: fixed;
  /* bottom: 0; */
  width: 64em;
  max-width: calc(100% - 10em);
  padding: 1em;
  z-index: 1;
}

.menu{
  list-style-type: none !important;
  padding: 0 !important;
}
.item {
  padding: 10px;
}
.item:not(.button) a:hover,
.item a:hover::after {
  background-color: rgba(247,247,247) !important;
  color: #222 !important;
  font-weight: 600;
}
/* Mobile menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.menu li a {
  display: block;
  padding: 10px 5px;
  border-radius: 4px;
  text-decoration: none !important; 
  border: 0px !important;
  background-color: #222 !important;
  color: rgba(247,247,247) !important;
}

.item:not(.button) a:hover,
.item a:hover::after {
  background-color: rgba(247,247,247) !important;
  color: #222 !important;
  font-weight: 600;
}

.toggle {
  font-size: 20px;
  order: 0;
}
.toggle a {
  text-decoration: none !important; 
  border: 0px !important;
}
.item {
  order: 2;
  width: 100%;
  text-align: center;
  display: none;
  
}
.item.active a {
  color: #222 !important;
  background-color: rgba(247, 247, 247) !important;
  box-shadow: none !important;
  font-weight: 600;
}
.active .item {
  display: block;
}

.menu .item a.active {
  background-color: rgba(247, 247, 247) !important;
  color: #222 !important;
  font-weight: 600;
}

@media screen and (max-width: 360px) {

  nav {
    min-width: 100%;
  }

}

@media all and (max-width: 480px) {

  nav {
    max-width: calc(100% - 2em);
  }

}


/* Tablet menu */
@media all and (min-width: 700px) {
  .toggle {
    flex: 1;
    order: 1;
    text-align: center;
  }
}
/* Desktop menu */
@media all and (min-width: 960px) {
  .menu {
    align-items: flex-start;
    flex-wrap: nowrap;
    background: none;
  }
  .item {
    position: relative;
    display: block;
    width: auto;
  }
  .toggle {
    display: none;
  }
}